// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  font-family: 'Helvetica';
}

.letter {
  display: flex;
  width: 40px;
  height: 40px;
  background-color: orange;
  padding: 5px;
  margin: 5px;
  box-shadow: 2px 2px 2px grey;
  justify-content: center;
  align-items: center;
  font-family: Courier;
  color: white;
  font-size: 35px;
}

.container {
  display: flex;
}
